.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  min-height: 100vh;
  min-width: 100vw;
}

#container {
  max-height: 80%;
  height: 80%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
}

#container2 {
  max-height: 80%;
  height: 80%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
  background-image: url('../images/StampBackground.png');
  background-size: cover;
}

#container3 {
  flex-grow: 1;
}

.leaflet-container {
  flex-grow: 1
}

.canvas {
  flex-grow: 1
}

.App-header {
  background-color: #5fbcd3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  height: 10%;
  position: relative;
}

.header-logo {
  width: 18%;
  max-width: 60px;
}

.help-logo {
  position: absolute;
  right: 0;
  width: 18%;
  max-width: 50px;
}

#helpImg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 10000;
  width: 80%;
}

.App-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.shopTab {
  height: 10%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-grow: 1;
  font-size: 4vw;
  font-weight: bold;
}

.shopList {
  display: flex;
  flex-grow: 12;
  flex-direction: column;
  flex-basis: 0;
  overflow-y: scroll;
}

div.none{
  background-color: #2c89A0;
  width: calc(100% / 3) ;
}
div.shop-none {
  color: black;
  width: calc(100% / 5) ;
}

div.current{
  background-color: #5fbcd3;
  width: calc(100% / 3) ;
}
div.shop-current {
  color: orange;
  width: calc(100% / 5) ;
}

.header-title {
  font-size: 5vw;
}

.navImage {
  width: 40%;
  height: 40%;
  max-height: 55px;
  max-width: 55px;
}

.mapSpace {
  background-color: #b5b5b6;
  flex-grow: 1
}
.mapImage {
  height: 100%;
  width: 100%;
}